---
http_interactions:
- request:
    method: get
    uri: https://api.zecat.cl/v1/family
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer aW5mb0BicmFuZGdpZnQuY2w6ZXlKMGVYQWlPaUpLVjFRaUxDSmhiR2NpT2lKSVV6STFOaUo5LklqYzJjVGg1WWpGeWR6QTRaelpyYXpRaS5fQXhRTUpNTlczN1pSS3c1aGZTT1dyNDYxVEtxUTIwQU9oTXJRaklXQi1n
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11b86-bSVB0wEa11XgyHNmms2OkCaFUjw"
    body:
      encoding: UTF-8
      string: '{"families":[{"id":"111","description":"2024 Descuento Mochilas","highlighted":false,"icon_url":"https://images-cdn.zecat.cl/categories/Descuento_sale.svg","icon_active_url":"https://zecat-user-images-cl.s3.amazonaws.com/categories/sale.svg","marketing_video":"","marketing_imagen":"","marketing_text":"Sale","url":"/sale","wepod":false,"meta":"Sales
        de alta calidad con el logo de tu empresa y al mejor precio por mayor. líderes
        en merchandising corporativo.","title":"Sales","show":false,"kit_family":false,"kits_related":false,"fgp":{},"products_related":false,"discount":true,"logged_out_desktop_banner_image_url":null,"logged_out_mobile_banner_image_url":null,"logged_out_banner_redirect_url":null,"logged_in_desktop_banner_image_url":null,"logged_in_mobile_banner_image_url":null,"logged_in_banner_redirect_url":null,"attributes":[]},{"id":"150","description":"2024
        Descuentos Patrios","highlighted":true,"icon_url":"https://images-cdn.zecat.cl/categories/Descuento_sale.svg","icon_active_url":"","marketing_video":"","marketing_imagen":"","marketing_text":"","url":"/2024-descuentos-patrios","wepod":false,"meta":"Productos
        promocionales corporativos de alta calidad con el logo de tu empresa y al
        mejor precio por mayor. Líderes en merchandising corporativo.","title":"2024
        Descuentos Patrios ","[...]
